/* background color for hrading and paragraph */
.box{
    height: 400px;
    background-color:red;
    color: aquamarine;
    background-image: url('https://ik.imagekit.io/1pajpxrhpx/asserts/car%20img1.jpg');
    background-repeat:no-repeat;
    /* background-position-x: 100px; 
    background-position-y: 200px */; 
    background-position: 50%;
    background-size: 100px50px;
    opacity:0.7 ;
}

*{
    margin: 0px;
    padding: 0px;
}
.box3 {
    height: 200px;
    width: 600px;
    background-color: cyan;
    border-width: 3px;
    border-color: blueviolet;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    


}

#box4{
    height: 100px;
    width: 600px;
    background-color: rgb(15, 175, 122);
    margin:50px 30px 10px 50px;  /*top,right,bottom,left*/
    padding: 10px 5px 10px 5px;   /*top,right,bottom,left*/
    border: solid black 3px;


    /* border */
    border-top-style:solid;
    border-top-width: 5px;
    border-top-color:red ;
    border-left-width: 7px;
    border-left-color:pink;
    border-left-style: groove;


    border-bottom-style: dotted;
    border-bottom-width:10px;

    border-radius: 10px; /*it will give curve for all sides*/
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    


    

}